.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
}

.steps {
  width: 100%;
  flex: 1;
}

.render-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

.circle {
  width: 40vh;
  height: 30vh;
  position: absolute;
  background-color: rgba(27, 88, 255, 0.935);
  z-index: 1;
  border-radius: 50%;
  transition: 0.3s;
}
