.multiple-valuation {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 90%;
  width: 100%;
}

.input-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.text-inputs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.autocomplite {
  display: flex;
  align-items: center;
  width: 10%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 100%;
  min-height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.row-grids {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
